[run]
omit =
	# leading `*/` for pytest-dev/pytest-cov#456
	*/.tox/*
disable_warnings =
	couldnt-parse

[report]
show_missing = True
exclude_also =
	# jaraco/skeleton#97
	# These are taken from https://coverage.readthedocs.io/en/latest/excluding.html#advanced-exclusion
	class .*\bProtocol\):
	if TYPE_CHECKING:
